html {
  min-height: 100%;
}
body {
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-weight: 700;
  font-size: 45px;
}

h2 {
  font-size: 25px;
  font-weight: 550;
}
h3 {
  font-size: 15px;
  text-align: left;
  padding: 0;
}
ul {
  list-style: none;
  padding: 2px;
}
footer {
  background: none !important;
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}
footer .footer-links {
  color: #000;
  opacity: 0.5;
}
.container {
  background: #dddddd;
  padding: 35px;
  border-radius: 25px;
  margin-left: 110px;
  margin-top: 50px;
  display: block;
  margin: 15px auto;
  max-width: 500px;
  color: #000;
}
.search-engine {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form-control {
  color: #000;
}
.form-control::placeholder {
  color: #000;
}
.weather-temperature .temperature {
  font-size: 40px;
  font-weight: bolder;
}
.weather-temperature img {
  height: 120px;
  width: 120px;
}
.weather-temperature .units {
  font-size: 20px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.description {
  font-weight: 700;
  opacity: 0.8;
  color: #9b480c;
  text-transform: uppercase;
}
.current-location {
  background: transparent;
}
.location-icon {
  color: darkgray;
  font-size: 20px;
}
.current-location-button {
  background: #dddddd;
  border: none;
}
button:hover {
  cursor: grab;
}
a {
  color: black;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
