body {
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-weight: 700;
}

h2 {
  font-size: 15px;
  color: black;
}
h3 {
  font-size: 15px;
  text-align: left;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}

footer {
  color: darkgray;
  position: relative;
  margin-left: 430px;
  margin-top: -20px;
}

.container {
  background: #dddddd;
  padding: 35px;
  border-radius: 25px;
  margin-left: 110px;
  margin-top: 50px;
  display: block;
  margin: 15px auto;
  max-width: 600px;
}
form search-form {
  margin-top: -60px;
  padding: 0;
}
.temperature {
  font-size: 40px;
  font-weight: bolder;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-temperature img {
  height: 30px;
  width: 30px;
}
.units {
  font-size: 20px;
}

.description {
  font-size: 15px;
}
.forecast {
  position: relative;
  left: 20px;
}
.float-left {
  margin-right: 10px;
}
.current-location {
  background: transparent;
}
.location-icon {
  color: darkgray;
  font-size: 20px;
}
.current-location-button {
  background: #dddddd;
  position: relative;
  top: -75px;
  right: 30px;
  border: none;
  margin-left: 370px;
}
button:hover {
  cursor: grab;
}
.gitLink {
  color: black;
}
