html {
  min-height: 100%;
}
body {
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  color: #fff;
}

h1 {
  font-weight: 600;
  font-size: 40px;
}

h2 {
  font-size: 22px;
}
h3 {
  font-size: 15px;
}
button:hover {
  cursor: cell;
}
a {
  color: black;
}
ul {
  list-style: none;
}
footer {
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}
footer .footer-links {
  color: darkgoldenrod;
  font-weight: bold;
}
.container {
  padding: 15px auto;
}
.weather-app-wrapper {
  padding: 60px;
  border-radius: 25px;
  margin: 60px auto;
  max-width: 600px;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.date {
  text-transform: lowercase;
}
.form-control {
  background-color: transparent;
  border: 1px solid #fbac7c;
  color: white;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  box-shadow: 1px 1px 1px white;
}
.form-control::placeholder {
  color: white;
}
.weather-temperature .temperature {
  font-size: 40px;
}
.weather-temperature img {
  height: 100px;
  width: 100px;
}
.weather-temperature .units {
  font-size: 20px;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.description {
  font-size: 19px;
}

.location-icon {
  color: white;
  font-size: 19px;
}
.current-location-button {
  background: transparent;
  border: none;
}

.weather-forecast {
  margin-top: 18px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 18px;
  text-transform: lowercase;
  color: white;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast {
  color: #fff;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  footer {
    font-size: 9px;
  }
  .description,
  .temperature {
    font-size: 15px;
  }
  .search-form {
    margin-top: 40px;
  }
  footer {
    font-size: 10px;
  }
}
